body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.signup-container {
    background: #fff;
    width: 80%;
    min-width: 20px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

form input, form select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.signup-mobile{
    display: flex;
}

form .terms {
    margin-top: 15px;
    font-size: 14px;
}

.terms-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

form button {
    background: #28a745;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

form button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* Popup Styling */
.popup {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.popup-content h3 {
    margin-bottom: 15px;
}

.popup-content p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.popup-content button {
    background: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.signup-terms-row {
   width: 100%;
  display: flex;
  flex-direction: row;
}

.signup-terms-radio {
    width: auto;;
  accent-color: #007bff;
  margin-right: 6px;
  gap:2px;
}

.signup-terms-btn {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
}

.signup-tcpopup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-tcpopup {
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.signup-tcpopup-info {
  font-size: 15px;
  margin-bottom: 18px;
}

.signup-accept-btn,
.signup-close-btn {
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  margin: 10px 8px 0 0;
  cursor: pointer;
  font-size: 15px;
}

.signup-close-btn {
  background: #dc3545;
}

@media(width: 500px) {
    
    .signup-mobile{
        display: grid;
        grid-column: 1fr 1fr;
    }
    
}
